header, nav {
  height: 150px;
}

#header-container {
  height: 125px;
}

header {
  height: 100%;
  border-bottom-style: solid;
  border-bottom-color: rgb(16, 45, 92);
  border-bottom-width: 3px;
}

#header-navigation {
  height: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
}

#logo-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-left: 20px;
}

#avatar-container {
  display: flex;
  align-items: center;
  padding-right: 50px;
}

#website-logo {
  font-size: 3.5rem;
}

p {
  margin: 0;
}

@media (max-width: 600px) {
  #avatar-container {
    display: none;
  }
}
