.sh-btn {
  width: 100px;
  background-color: rgb(16, 45, 92);
  color: white;
  text-align: center;
  border-radius: 10px;
  border-style: none;
  height: 40px;
}

.sh-btn:hover {
  background-color: rgb(70, 102, 153);
  cursor: pointer;
}

.sh-btn:disabled {
  background-color: lightgray;
}

#anzeige-btn {
  background-color: rgb(235, 235, 235);
  width: 200px;
}

#anzeige-btn:hover {
  background-color: lightgray;
  cursor: pointer;
}

#k-btn-0 {
  background-color: rgb(250, 117, 110);
}

#k-btn-0:hover {
  cursor: pointer;
  background-color: rgb(247, 81, 72);
}
#k-btn-1 {
  background-color: rgb(119, 145, 239);
}

#k-btn-1:hover {
  background-color: rgb(39, 114, 234);
  cursor: pointer;
}

#k-btn-2 {
  background-color: rgb(130, 250, 162);
}

#k-btn-2:hover {
  background-color: rgb(48, 219, 94);
  cursor: pointer;
}

.w-150 {
  width: 150px;
}

.w-200 {
  width: 200px;
}


