.border-r {
  border: 1px solid red !important;
  padding: 1px;
  margin: 1px;
}

.border-g {
  border: 1px solid green !important;
  padding: 1px;
  margin: 1px;
}

.border-b {
  border: 1px solid blue !important;
  padding: 1px;
  margin: 1px;
}

.border-o {
  border: 1px solid orange !important;
  padding: 1px;
  margin: 1px;
}
