.border-r {
  border: 1px solid red !important;
}

.border-g {
  border: 1px solid green !important;
}

.border-b {
  border: 1px solid blue !important;
}

.border-o {
  border: 1px solid orange !important;
}
