nav {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20%;
  margin-top: 30px;
  margin-bottom: 30px;
  background-color: rgb(248, 249, 250);
  width: 91vw;
}

a {
  text-decoration: none;
  display: block;
  width: 100%;
  height: 100%;
  text-align: center;
  line-height: 35px;
}

ul {
  width: 800px;
  list-style-type: none;
  display: flex;
  flex-direction: row;
}

li {
  border: 1px solid #b4b4b4;
  width: 100%;
  padding: 2px;
  height: 40px;
  transition: background-color 0.2s ease;
}

#left-li {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

#right-li {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

li:hover  {
  background-color: #8cc4fa;
  border-color: #49a5ff;
  cursor: pointer;
}

@media (max-width: 600px) {
  ul {
    flex-direction: column;
    align-items: center;
  }

  #left-li {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 0;
  }

  #right-li {
    border-top-right-radius: 0;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
  }
}
