:host {
  --modul-card-border-radius: 10px;
  --modul-name-font-size: 18px;

  --gray: #b7b7b7;
}

#modul-section {
  display: flex;
  flex-direction: column;
}

.modul-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 10px;
}

#modul-fachsemester-container {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: row;
}

.modul-card {
  flex: 0 0 calc(22.5% - 10px);
  min-width: 295px;
  background-color: var(--accent-color);
  min-height: 125px;
  margin: 20px 10px 10px 10px;
  border-style: none;
  border-radius: var(--modul-card-border-radius);
}

.modul-card-header {
  padding: 2.5px;
  min-height: 35px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  width: 100%;
  background-color: var(--primary-color);
  border-style: none;
  border-top-left-radius: var(--modul-card-border-radius);
  border-top-right-radius: var(--modul-card-border-radius);
}

.modul-name-container {
  display: flex;
  align-items: center;
  width: 100%;
  padding-left: 10px;
}

.modul-name-container a {
  color: white;
  text-decoration: none;

  display: inline-block;
  font-weight: normal;
  font-size: 16px;
  font-family: system-ui; /* verwende immer dieselbe Schriftart */
  text-shadow: 0 0 0 transparent; /* optischer Platzhalter für bold */
  transition: color 0.2s ease;
}

.modul-name-container a:hover {
  text-decoration: underline;
  cursor: pointer;
}

.modul-name {
  font-size: var(--modul-name-font-size);
  display: block;
  white-space: normal;
  word-wrap: break-word;
  overflow-wrap: anywhere;
  width: 100%;
}

#termine-icon-container {
  width: 10%;
  display: flex;
  justify-content: center;
}

#termine-icon-link {
  cursor: pointer;
}

#termine-icon {
  justify-content: flex-end;
}

.modul-card-body {
  padding: 12px;
}

.modul-card-content p {
  color: #f0f0f0;
  font-size: 16px;
  margin-bottom: 0;
}

.modul-card-footer {
  display: flex;
  margin-top: 10px;
  justify-content: center;
}

.play-button {
  border-color: white;
}

.stop-button {
  background-color: rgb(250, 105, 82);
}

.btn {
  width: 50px;
}

.play:hover {
  border-color: white;
  background-color: rgb(70, 102, 153);
}

.stop:hover {
  background-color: red;
}

.lerntag-info {
  background-color: rgb(250, 146, 72);
}

#no-module-container {
  margin-top: 60px;
}

#no-module-p {
  text-align: center;
  font-size: 14px;
  color: gray;
}

.accordion {
  color: var(--primary-color);
}

.shd {
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.25);
}

#modul-visibility-btn {
  margin: 10px;
  background-color: transparent;
  color: var(--gray);
  border: 2px solid var(--gray);
  border-radius: 5px;
}

#modul-visibility-btn:hover {
  background-color: #eeeeee;
}

.svg-eye-container {
  margin: 5px;
}

.eye-svg {
  fill: var(--gray);
}
