/* You can add global styles to this file, and also import other style files */
:root {
  --primary-color: rgb(16, 45, 92);
  --accent-color: rgb(37, 78, 143);
  --grey: rgb(248, 249, 250);
}

html {
  background-color: var(--grey)
}

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: "Outfit", "sans-serif";
}

.success-snack {
  background-color: green;
}

.mat-mdc-snack-bar-container.snackbar-info {
  --mat-snack-bar-button-color: #fff;
  --mdc-snackbar-container-color: rgb(30, 64, 120);
  --mdc-snackbar-supporting-text-color: #fff;

  position: fixed;
  bottom: 7.5%;
  left: 37.5%;
  transform: none !important;
  max-width: 500px;
  z-index: 10000;
}

.mat-mdc-snack-bar-container.snackbar-info .mdc-snackbar__label {
  font-family: 'Outfit', sans-serif;
  font-size: 17px;
  line-height: inherit;
}

.mat-mdc-snack-bar-container.snackbar-info .mdc-snackbar__action {
  font-family: 'Outfit', sans-serif;
  font-size: 17px;
}

.mat-mdc-snack-bar-container.snackbar-error {
  --mat-snack-bar-button-color: #ececec;
  --mdc-snackbar-container-color: rgb(216, 88, 88);
  --mdc-snackbar-supporting-text-color: #efefef;

  position: fixed;
  bottom: 7.5%;
  left: 37.5%;
  transform: none !important;
  max-width: 500px;
  z-index: 10000;
}

.mat-mdc-snack-bar-container.snackbar-error .mdc-snackbar__label {
  font-family: 'Outfit', sans-serif;
  font-size: 17px;
  line-height: inherit;
}

.mat-mdc-snack-bar-container.snackbar-error .mdc-snackbar__action {
  font-family: 'Outfit', sans-serif;
  font-size: 17px;
}

.mat-mdc-snack-bar-container.snackbar-success {
  --mat-snack-bar-button-color: #424242;
  --mdc-snackbar-container-color: #47FF94;
  --mdc-snackbar-supporting-text-color: #424242;

  position: fixed;
  bottom: 7.5%;
  left: 37.5%;
  transform: none !important;
  max-width: 500px;
  z-index: 10000;
}

.mat-mdc-snack-bar-container.snackbar-success .mdc-snackbar__label {
  font-family: 'Outfit', sans-serif;
  font-size: 17px;
  line-height: inherit;
}

.mat-mdc-snack-bar-container.snackbar-success .mdc-snackbar__action {
  font-family: 'Outfit', sans-serif;
  font-size: 17px;
}

.form-select:focus, .form-control:focus {
  border-color: rgb(16, 45, 92);
  outline: 0;
  box-shadow: 0 0 0 .15rem rgba(28, 81, 159, 0.5);
  background-color: rgba(0, 177, 255, 0.05);
}

.form-select option {
  font-family: 'Outfit', sans-serif !important;
}



