/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }

body {
  margin: 0;
  font-family: "Outfit", "serif";
}

.success-snack {
  background-color: green;
}

.mat-mdc-snack-bar-container.snackbar-info {
  --mat-snack-bar-button-color: #fff;
  --mdc-snackbar-container-color: rgb(30, 64, 120);
  --mdc-snackbar-supporting-text-color: #fff;

  position: fixed;
  bottom: 7.5%;
  left: 37.5%;
  transform: none !important;
  max-width: 500px;
  z-index: 10000;
}

.mat-mdc-snack-bar-container.snackbar-info .mdc-snackbar__label {
  font-family: 'Outfit', fantasy;
  font-size: 17px;
  line-height: inherit;
}

.mat-mdc-snack-bar-container.snackbar-info .mdc-snackbar__action {
  font-family: 'Outfit', fantasy;
  font-size: 17px;
}

.mat-mdc-snack-bar-container.snackbar-error {
  --mat-snack-bar-button-color: #ececec;
  --mdc-snackbar-container-color: rgb(216, 88, 88);
  --mdc-snackbar-supporting-text-color: #efefef;

  position: fixed;
  bottom: 7.5%;
  left: 37.5%;
  transform: none !important;
  max-width: 500px;
  z-index: 10000;
}

.mat-mdc-snack-bar-container.snackbar-error .mdc-snackbar__label {
  font-family: 'Outfit', fantasy;
  font-size: 17px;
  line-height: inherit;
}

.mat-mdc-snack-bar-container.snackbar-error .mdc-snackbar__action {
  font-family: 'Outfit', fantasy;
  font-size: 17px;
}

.mat-mdc-snack-bar-container.snackbar-success {
  --mat-snack-bar-button-color: #424242;
  --mdc-snackbar-container-color: #47FF94;
  --mdc-snackbar-supporting-text-color: #424242;

  position: fixed;
  bottom: 7.5%;
  left: 37.5%;
  transform: none !important;
  max-width: 500px;
  z-index: 10000;
}

.mat-mdc-snack-bar-container.snackbar-success .mdc-snackbar__label {
  font-family: 'Outfit', fantasy;
  font-size: 17px;
  line-height: inherit;
}

.mat-mdc-snack-bar-container.snackbar-success .mdc-snackbar__action {
  font-family: 'Outfit', fantasy;
  font-size: 17px;
}



