<div id="account-container" class="h-offset">
  <div id="account-table-container" class="">
    <h2 class="m-accent-font">Details zu Modul: {{name}}</h2>
    <table class="table">
      <tbody>
        <tr>
          <th class="col-wd-200 m-accent-font">Zeit gelernt</th>
          <td class="col-wd-300 td-border-l m-accent-font">{{secondsLearned | timeFormat}}</td>
        </tr>
        <tr>
          <th class="col-wd-200 m-accent-font">Kreditpunkte</th>
          <td class="col-wd-300 td-border-l m-accent-font">
            <span>{{kreditpunkte}}</span>
          </td>
        </tr>
        <tr>
          <th class="col-wd-200 m-accent-font">Arbeitsaufwand</th>
          <td class="col-wd-300 td-border-l m-accent-font">Kontaktzeit: {{kontaktzeitStunden}}</td>
          <td class="col-wd-300 m-accent-font">Selbststudiumzeit: {{selbststudiumStunden}}</td>
        </tr>
        <tr>
          <th class="col-wd m-accent-font">Fachsemester</th>
          <td class="col-wd-300 td-border-l m-accent-font">{{semesterstufe}}</td>
          <td class="col-wd-300 m-accent-font">{{semesterTyp  | capitalize}} {{semesterJahr}}</td> <!-- TODO: FIX wird nciht angezeigt -->
        </tr>

        <tr>
          <th class="col-wd-200 m-accent-font">
            Modul aktivieren/deaktivieren
          </th>
          <td class="col-wd-300 td-border-l m-accent-font">
            <div>
              <mat-slide-toggle (change)="putAktivStatus(modulId)" [checked]="getActiveStatus(modulId)">
                <span class="ff-outfit" *ngIf="getActiveStatus(modulId)"></span>
                <span class="ff-outfit" *ngIf="!getActiveStatus(modulId)"></span>
              </mat-slide-toggle>
            </div>
          </td>
        </tr>
        <tr>
          <th class="col-wd-200 m-accent-font">
            <label>Zeit hinzufügen (hh:mm)</label>
          </th>
          <td class="col-wd-300 td-border-l m-accent-font">
            <form id="form-add-time" [formGroup]="addTimeForm">
              <div id="add-time-container">
                <input type="time" class="form-control timer-picker-inp" formControlName="time">
                <button id="add-time-btn" (click)="postSecondsToAdd()" >hinzufügen</button>
              </div>
            </form>
          </td>
        </tr>
        <tr>
          <th class="col-wd-200 m-accent-font">
            <p>Klausurdatum</p>
          </th>
          <td class="col-wd-300 td-border-l m-accent-font">
            <div *ngIf="false">
              <p>21.04.2026</p>
            </div>
            <div *ngIf="true">
              <p>Es wurde kein Klausurdatum hinterlegt. <a [routerLink]="['/module/termine-details']" [queryParams]="{fachId: modulId}">Hier</a> erstellen.</p>
            </div>
          </td>
        </tr>
        <tr>
          <th class="col-wd-200 m-accent-font">
            Optionen
          </th>
          <td class="col-wd-300 td-border-l m-accent-font">
            <div class="btn-wrapper">
              <button id="reset-btn" class="option-btn" (click)="resetTimer()">Lernzeit zurücksetzen</button>
            </div>
          <td class="col-wd-300 m-accent-font">
            <div class="btn-wrapper">
              <button id="delete-module-btn" class="option-btn" (click)="deleteModul()">Modul löschen</button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
